  <div class="card">
    <div class="list-group-item">
      <div class="container">
        <h3 class="card-title"><%= kulich.username.username %> </h3>
      </div>
      <a href="<%= baseUrl%><%= controllerPrefix %>/<%= kulich.id %>">
        <div class="container">
          <img class="card-img-top" src="
          
          
          <%= kulich.image %>" />
        </div>
      </a>
      <div class="container">
        <p class="av-rating">
          <!-- Votes: <%= %><br> --> Average Rating: <%= kulich.averageRating %>
        </p>
      </div>
      <div class="container">
        <% if(currentUser) { %>
          <div class="card-text">
            <form class="rating-form" action="<%= baseUrl%><%= controllerPrefix %>/<%= kulich.id %>/rating" method="post">
              <div class="rate"><% for (let i = 5; i >= 1; i--) { %>
                <!-- if there already is a user rating -->
                <!-- geting existing rating, checking for currentUser and checking if equivalent to the star rating-->
                <input <%= currentUser && kulich.userRatings && kulich.userRatings.get(currentUser._id) === i ? "checked" : "" %> type="radio" id="star<%= kulich.id %><%= i %>" name="rate" value="
                  
                  
                  <%= i %>" />
                <label for="star<%= kulich.id %><%= i %>" title="text"><%= i %> star </label><% } %>
              </div>
            </form>
          </div>
        <% } %>
      </div>
      <div class="container">
        <% if(currentUser) { %>
        <form class="button" action="<%= baseUrl%><%= controllerPrefix %>/<%= kulich.id %>?_method=DELETE" method="post">
          <input class="btn btn-light" type="submit" value="Delete" />
        </form>
        <form class="button" action="<%= baseUrl%><%= controllerPrefix %>/<%= kulich.id %>/edit">
          <input class="btn btn-light" type="submit" value="Edit" />
        </form>
        <% } %>
      </div>
    </div>
  </div>