<%- include ("./partials/head.ejs") %>
<div>
  <h1>Update <%= theKulich.name %></h1>
  <form action="<%= baseUrl %>/<%= theKulich.id %>?_method=PUT" method="post" enctype="multipart/form-data">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" required value="<%= theKulich.name %>" />

    <label for="image">Image</label>
    <input type="file" name="image" id="image">

    <input type="submit" value="Update Kulich" />
  </form>
</div>
<%- include ("./partials/footer.ejs") %>