<%- include("../partials/head.ejs") %>

<div>
  <h2>Sign up to post your kulich and rate.</h2>

  <div class="flash-messages">
    <% if (messages.success) { %>
      <% for (let msg of messages.success) { %>
        <p class="success"><%= msg %></p>
      <% } %>
    <% } %>
    <% if (messages.info) { %>
      <% for (let msg of messages.info) { %>
        <p class="info"><%= msg %></p>
      <% } %>
    <% } %>
    <% if (messages.error) { %>
      <% for (let msg of messages.error) { %>
        <p class="error"><%= msg %></p>
      <% } %>
    <% } %>
  </div>

  <form action="<%= baseUrl %>" method="post" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="username">Name</label>
      <input class="form-control" type="text" name="username" id="username" required />
    </div>

    <div class="mb-3">
      <label for="email">Email</label>
      <input class="form-control" type="text" name="email" id="email" required />
    </div>

    <div class="mb-3">
      <label for="password">Password</label>
      <input class="form-control" type="password" name="password" id="password" required />
    </div>
      
<!--     <div class="mb-3">
      <label for="profilePic">Profile pic</label>
      <input class="form-control" type="file" name="profilePic" id="profilePic">
    </div> -->

    <input class="btn btn-primary" type="submit" value="Sign up" />
      
    <div id="accHelp" class="form-text">Already have an account?<a href="/login">Log in</a></div>
      

  </form>
</div>
<%- include("../partials/footer.ejs") %>