<%- include("../partials/head.ejs") %>

<div>
  <h2>Sign up to post your kulich and rate.</h2>

  <div class="flash-messages">
    <% if (messages.success) { %>
      <% for (let msg of messages.success) { %>
        <p class="success"><%= msg %></p>
      <% } %>
    <% } %>
    <% if (messages.info) { %>
      <% for (let msg of messages.info) { %>
        <p class="info"><%= msg %></p>
      <% } %>
    <% } %>
    <% if (messages.error) { %>
      <% for (let msg of messages.error) { %>
        <p class="error"><%= msg %></p>
      <% } %>
    <% } %>
  </div>

  <form action="<%= baseUrl %>" method="post" enctype="multipart/form-data">
    <label for="username">Name</label>
    <input type="text" name="username" id="username" required />
    <label for="email">Email</label>
    <input type="text" name="email" id="email" required />
    <label for="password">Password</label>
      <label for="profilePic">Profile pic</label>
    <input type="file" name="profilePic" id="profilePic">
    <input type="password" name="password" id="password" required />
    <input type="submit" value="Sign up" />
      <p>
      Already have an account?
      <a href="/login">Log in</a>
    </p>
  </form>
</div>
<%- include("../partials/footer.ejs") %>